<header class="flex flex-row items-center w-full px-4 py-4 bg-white border-b-8 border-red-600 border-solid">
	{% include "@components/logo/logo.twig" with {
    classes: 'max-h-[40px] w-auto'
  } %}

	<nav class="hidden lg:block ms-8">
		<ul class="flex flex-row gap-4">
			<li>
				<a href="#">Retailers</a>
			</li>
			<li>
				<a href="#">Publishers</a>
			</li>
			<li>
				<a href="#">How to Get PDFs</a>
			</li>
			<li>
				<a href="#">Store Locator</a>
			</li>
			<li>
				<a href="#">About</a>
			</li>
			<li>
				<a href="#">Contact Us</a>
			</li>
		</ul>
	</nav>


	<div class="ms-auto lg:hidden">
		{% include "@components/button/button.twig" with {
      label: 'Menu',
      iconAfter: 'fa-solid fa-bars',
      id: 'small-screen-menu-control-open'
    } %}
	</div>

	<div class="ms-auto hidden lg:block">
		{% include "@components/button/button.twig" with {
      label: 'Login',
      iconAfter: 'fa-solid fa-right-to-bracket',
      id: 'small-screen-menu-control-open'
    } %}
	</div>
</header>

<section id="small-screen-overlay" class="hidden absolute inset-0 bg-gold-100">
	<div class="bg-red-900/90 absolute inset-0"></div>
	<div class="bg-gold-100 absolute inset-2 z-50 rounded-lg p-4 space-y-4 pb-8 max-h-screen overflow-y-scroll">

		<section class="flex flex-row items-center w-full">
			{% include "@components/logo/logo.twig" with {
        classes: 'max-h-[40px] w-auto'
      } %}

			<div class="ms-auto">
				{% include "@components/button/button.twig" with {
          label: 'Close',
          iconAfter: 'fa-solid fa-circle-xmark',
					id: 'small-screen-menu-control-close'
        } %}
			</div>
		</section>

		<nav class="border-t border-b border-solid border-gold-700 py-4 px-2">
			<ul class="text-lg grid grid-cols-2 gap-y-2">
				<li>
					<a href="#">Retailers</a>
				</li>
				<li>
					<a href="#">Publishers</a>
				</li>
				<li>
					<a href="#">How to Get PDFs</a>
				</li>
				<li>
					<a href="#">Store Locator</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Contact Us</a>
				</li>
			</ul>
		</nav>

		<nav class="text-base px-2 text-gold-1000">
			<h2 class="font-serif text-xl text-red-600">Menu</h2>
			<p>You are logged in as
				<em>admin</em>
			</p>
			<ul class="mt-4 space-y-2">
				<li>
					<a href="#">
						<i class="fa-solid fa-lock text-gold-800 w-[17px] mr-1"></i>
						Admin Page</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-file-arrow-up text-gold-800 w-[17px] mr-1"></i>
						Update & Upload Files</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-paper-plane text-gold-800 w-[17px] mr-1"></i>
						Browse & Send Files</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-paper-plane text-gold-800 w-[17px] mr-1"></i>
						Send Multiple Files</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-books text-gold-800 w-[17px] mr-1"></i>
						My Library</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-pen-circle text-gold-800 w-[17px] mr-1"></i>
						My Publisher(s)</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-files text-gold-800 w-[17px] mr-1"></i>
						Publisher Files</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-list text-gold-800 w-[17px] mr-1"></i>
						Master File List</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-store text-gold-800 w-[17px] mr-1"></i>
						My Store(s)</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-circle-user text-gold-800 w-[17px] mr-1"></i>
						My Account</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-user-pen text-gold-800 w-[17px] mr-1"></i>
						Edit My Account</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-circle-question text-gold-800 w-[17px] mr-1"></i>
						Help</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-right-from-bracket text-gold-800 w-[17px] mr-1"></i>
						Logout</a>
				</li>
			</ul>
		</nav>

	</div>
</section>
