<header class="flex flex-row items-center w-full px-4 py-4 bg-white border-b-8 border-red-600 border-solid">
	{% include "@components/logo/logo.twig" with {
    classes: 'max-h-[40px] w-auto'
  } %}

	<nav class="hidden lg:block ms-8" role="navigation" aria-label="Main, large screens">
		<ul class="flex flex-row gap-4">
			<li>
				<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">Retailers</a>
			</li>
			<li>
				<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">Publishers</a>
			</li>
			<li>
				<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">How to Get PDFs</a>
			</li>
			<li>
				<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">Store Locator</a>
			</li>
			<li>
				<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">About</a>
			</li>
			<li>
				<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">Contact Us</a>
			</li>
		</ul>
	</nav>


	<div class="ms-auto lg:hidden">
		{% include "@components/button/button.twig" with {
      label: 'Menu',
      iconAfter: 'fa-solid fa-bars',
      id: 'small-screen-menu-control-open'
    } %}
	</div>

	<div class="ms-auto hidden lg:block">
		{% include "@components/button/button.twig" with {
      label: 'Login',
      iconAfter: 'fa-solid fa-right-to-bracket',
      id: 'small-screen-menu-control-open'
    } %}
	</div>
</header>

<section id="small-screen-overlay" class="hidden absolute inset-0 bg-gold-100">
	<div class="bg-red-900/90 absolute inset-0"></div>
	<div class="bg-gold-100 absolute inset-2 z-50 rounded-lg p-4 space-y-4 pb-8 max-h-screen overflow-y-scroll">

		<section class="flex flex-row items-center w-full">
			{% include "@components/logo/logo.twig" with {
        classes: 'max-h-[40px] w-auto'
      } %}

			<div class="ms-auto">
				{% include "@components/button/button.twig" with {
          label: 'Close',
          iconAfter: 'fa-solid fa-circle-xmark',
					id: 'small-screen-menu-control-close'
        } %}
			</div>
		</section>

		<nav class="border-t border-b border-solid border-gold-700 py-4 px-2" role="navigation" aria-label="Main, small screens">
			<ul class="text-lg grid grid-cols-2 gap-y-2">
				<li>
					<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">Retailers</a>
				</li>
				<li>
					<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">Publishers</a>
				</li>
				<li>
					<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">How to Get PDFs</a>
				</li>
				<li>
					<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">Store Locator</a>
				</li>
				<li>
					<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">About</a>
				</li>
				<li>
					<a href="#" class="text-red-1000 hover:text-link transition-colors hover:underline">Contact Us</a>
				</li>
			</ul>
		</nav>

		<div class="px-2">
			{% include "@components/nav-user/nav-user.twig" %}
		</div>

	</div>
</section>
