<article class="prose prose-headings:font-serif prose-headings:text-red-600">
<h1>Retailers</h1>
  <h2>About the Program</h2>
<p>The Bits and Mortar program benefits retailers&nbsp;by providing extra value for your customers by providing them with&nbsp;best of both worlds, physical and digital. Whenever you sell a book that offers&nbsp;a print-and-PDF bundle you can also provide the electronic version and keep the whole transaction in-house.</p>
<h2>When You're&nbsp;Ready to Sign Up</h2>
<p>Once you're ready to sign up for the Bits and Mortar program&nbsp;go <a href="https://www.bits-and-mortar.com/user/register">create an account</a>&nbsp;and then (after creating and logging into the account)&nbsp;<a href="https://www.bits-and-mortar.com/retailer-sign">apply for retailer access</a>.</p>
<p>That application will help us&nbsp;verify your status, so we'll ask you who you are, where you're located, and&nbsp;how we can get a peek at your store (maybe an online photo gallery, or something else).&nbsp;</p>
<p><strong>We must be able to verify that you run a <u>physical</u> ("brick and mortar") storefront for you to be eligible to join.</strong>&nbsp;Ultimately, Bits &amp; Mortar is a service meant to help brick and&nbsp;mortar retailers compete more effectively, by offering a value-add (PDFs) for stores that are often facing&nbsp;competition from deep-discounting online-only vendors with lower operating costs—so it doesn't make much sense for us to offer membership to online-only vendors.</p>
<p><strong>We also ask&nbsp;that you <u>not</u> sell our products at steep discounts</strong> — a little “frequent buyer program” action is fine, of course.</p>
<p>After your account is approved you’ll be able to access the PDFs of all the eligible products for all of our publishers. With access to those PDFs, you can start giving them out to your customers when they order the associated print product in your store&nbsp;by sending them a download code they can use with this website&nbsp;or downloading copies to your own machine and burning copies to CD, copying over to the customer’s USB drive, or whatever else works for you. It’s up to you whether you want to keep the transaction entirely in-house, keeping the customer’s attention on&nbsp;you&nbsp;as the place to take advantage of this program, or if you’re fine with them coming to our website to download the PDFs.</p>
<p><strong>Remember: You must&nbsp;<a href="https://www.bits-and-mortar.com/user/register">create a&nbsp;user account</a> <em>before</em>&nbsp;you sign up your store!</strong></p>
<p><a class="button" href="https://www.bits-and-mortar.com/retailer-sign">Sign Up Now</a></p>

</article>