{% extends "@components/basic-page/basic-page.twig" %}

{% block content %}
	<section class="bg-gold-300 w-full min-h-9 lg:pt-16 lg:pb-16 py-8 px-4">
		{% include "@components/logo/logo.twig" with {
      classes: 'max-w-[888px] w-full h-auto mx-auto'
    } %}
		<div class="max-w-3xl mx-auto mt-8">
			<h1 class="text-red-600 font-serif text-3xl font-bold leading-tight text-balance">Buy the Print Book, Get the PDF. FREE.</h1>
		</div>
	</section>

	<section class="bg-gold-800 p-8">
		<ul class="flex flex-col gap-4 md:grid md:grid-cols-3 max-w-5xl mx-auto">
			{% for item in tripytych %}
				<li class="bg-white rounded space-y-1 px-4 py-7 flex flex-col lg:gap-4 lg:text-center">
					<i class="{{item.icon}} text-5xl text-red-600"></i>
					<h2 class="text-3xl font-serif text-red-600 font-bold">{{item.heading}}</h2>
					<p class="text-base">{{item.text}}</p>
					<p class="!mt-auto pt-3">
						<a href="#" class="text-link underline">Learn more</a>
					</p>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}
