{% include "@components/header/header.twig" %}
<main class="max-w-3xl mx-auto my-16 px-4">
	{% include "@components/typography/typography.twig" %}
</main>
{% include "@components/footer/footer.twig" %}
